@tailwind base;
@tailwind components;
@tailwind utilities;
/* Header container */

.cart {
    position: relative;
  }
  
  .cart-icon {
    position: relative;
    width: 40px;
    height: 40px;
    background-color: #f0f0f0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
  }
  
  .notification-circle {
    position: absolute;
    top: -8px;
    right: -8px;
    background-color: red;
    color: white;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
  }